@model SehirRehberiApp.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var user in Model.Users)
{
    <form action="/EditProfile" class="needs-validation" novalidate method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-2" style="font-family:'El yazması' ;font-size:25px;">
                    <ul>
                        <li>
                            <img alt="@user.id" width="150" class="img-fluid avatar" src="data:image/jpg;base64,@Convert.ToBase64String(user.ProfilePhoto)" />
                        </li>
                        <li>
                            Profil Fotoğrafını Değiştir : <input type="file" style="font-size:25px;" value="@user.ProfilePhoto" class="btn btn-outline-success" name="image" placeholder="Ekleyeceğiniz görseli seçiniz:" accept="image/*">
                        </li>
                        <li>
                            Kullanıcı Adı : <input style="font-family:'Segoe UI'" class="form-control" type="text" name="UserName" value="@user.UserName" />
                        </li>
                        <li>
                            Email Adresi : <input style="font-family:'Segoe UI'" class="form-control" type="text" name="Email" value="@user.Email" />
                        </li>
                        <li>
                            Ad :<input style="font-family:'Segoe UI'" class="form-control" type="text" name="FirstName" value="@user.FirstName" />
                        </li>
                        <li>
                            Soyad :<input style="font-family:'Segoe UI'" class="form-control" type="text" name="LastName" value="@user.LastName" />
                        </li>
                        <li>
                            Şehir :  @Html.DropDownListFor(m => m.IlId, Model.Cities, new {Model.City, @class = "form-control", @style = "font-family:'Segoe UI'" , @value=Model.City})
                        </li>
                    </ul>

                </div>
                <div class="col-md-6" style="margin-top:100px !important;">
                    <img width="700" src="~/Content/modalphoto.png" alt="Alternate Text" />
                </div>
            </div>
            <div class="row ml-5" style="font-family:'El yazması'">
                <button class="btn btn-outline-success" type="submit" style="font-size:30px;">Güncelle !</button>
                <a class="btn btn-outline-danger ml-4" style="font-size:30px;" href="@Url.RouteUrl("Profile")">İptal Et</a>
            </div>
        </div>
    </form>
}

