@model SehirRehberiApp.Models.ViewModels.UserViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var user in Model.Users)
{
    <form action="/EditProfile" class="needs-validation" novalidate method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-2 form-group">
                    <center>
                        <img alt="@user.id" class="img-fluid avatar border border-success rounded-circle" src="data:image/jpg;base64,@Convert.ToBase64String(user.ProfilePhoto)" />
                    </center>
                    <div class="row">
                        <div class="col-md-6 ">
                            <h6>Profil Fotoğrafını Değiştir :</h6>

                        </div>
                        <div class="col-md-6">
                            <input type="file" style="cursor:pointer;" value="@user.ProfilePhoto" class="form-control" name="image" accept="image/*">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"> 
                        <h6>Kullanıcı Adı :</h6>
                        </div>
                        <div class="col-md-6">
                            <input style="font-family:'Segoe UI'" class="form-control" type="text" name="UserName" value="@user.UserName" />

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h6>Email Adresi :</h6>
                        </div>
                        <div class="col-md-6">
                            <input style="font-family:'Segoe UI'" class="form-control" type="text" name="Email" value="@user.Email" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h6>Ad :</h6>
                        </div>
                        <div class="col-md-6">
                            <input style="font-family:'Segoe UI'" class="form-control" type="text" name="FirstName" value="@user.FirstName" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Soyad :</h6>
                        </div>
                        <div class="col-md-6">
                            <input style="font-family:'Segoe UI'" class="form-control" type="text" name="LastName" value="@user.LastName" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h6>Şehir :</h6>
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.IlId, Model.Cities, new { Model.City, @class = "form-control", @style = "font-family:'Segoe UI'", @value = Model.City })
                        </div>
                    </div>

                </div>
                <div class="col-md-6 mt-auto justify-content-center">
                    <img class="img-fluid" src="~/Content/modalphoto.png" alt="Alternate Text" />
                </div>
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-outline-success" type="submit">Güncelle !</button>
                <a class="btn btn-outline-danger ml-4" href="@Url.RouteUrl("Profile")">İptal Et</a>
            </div>
        </div>
    </form>
}

