@model SehirRehberiApp.Models.ViewModels.PostViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br /><br />
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 text-center">
            @*<img src="https://via.placeholder.com/150" class="rounded-circle" alt="Alternate Text" />*@
            <img alt="@Model.UserId" width="150" class="img-fluid avatar" src="data:image/jpg;base64,@Convert.ToBase64String(Model.ProfilePhoto)" />
            @*   <i class="fas fa-user-alt"></i>*@
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 text-center">
            <h5 class="display-4">@Model.UserName</h5>

        </div>
        <div class="col-md-3">

        </div>

    </div>
    <br /> <br />
    <hr style="color:forestgreen; font-size:50px; font-weight:bold;" />
    <div class="row d-flex justify-content-center">
        @foreach (var post in Model.Posts)
        {

            <div class="card ml-2 " style="width: 18rem;">
                <img alt="@post.Id" width="500" class="card-img-top img-fluid" src="data:image/jpg;base64,@Convert.ToBase64String(post.ImgData)" />
                <div class="card-body">
                    <h3 class="card-title">
                        <u>@post.PostName</u>
                        <button type="button" style="cursor:pointer;" onclick="deleteAlert(@post.Id)" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Postu Sil">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="btn btn-outline-warning">
                            <i class="fas fa-edit"></i>
                        </button>

                    </h3>
                    <p class="card-text parag" style="font-family:'Segoe UI';font-size:15px; color:forestgreen;"> @post.Description</p>
                    <p>@post.SehirAdi / @post.IlceAdi </p>
                    <p style="font-family:'Segoe UI';font-size:12px; font-weight:bold; color:forestgreen;">
                        Paylaşıma Fotoğraf Ekleyin <a href="@Url.RouteUrl("AddExtraImage",new { post.Id })" class="btn btn-outline-success"><i class="fas fa-plus"></i></a>
                    </p>
                    <a class="btn btn-outline-info" href="@Url.RouteUrl("ShowExtPost",new { post.Id })">Postun Devamını Gör</a>

                </div>
            </div>
        }
    </div>

</div>






<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })


    function deleteAlert(id) {

        $.confirm({
            title: 'Dikkat!',
            content: 'Bu postu silmek istediğinize emin misiniz?',
            theme: 'dark',

            buttons: {
                onaylıyorum: {
                    btnClass: 'btn-success',
                   action: function() {
                        window.location.href = "DeletePost?Id=" + id;

                    }
                },
                iptal:  {
                    btnClass: 'btn-danger',
                },
            }
        });

    };

</script>
