@model SehirRehberiApp.Models.ViewModels.PostViewModel

@{
    ViewBag.Title = "NewPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container form-group">
    <div class="row">
        <div class="col-md-8">
            <form action="/NewPost" class="needs-validation" novalidate method="post" enctype="multipart/form-data">

                @if (Request.Cookies["USERID"] != null)
                {
                    <h4>Postunuza Bir İsim Verin&nbsp;</h4>


                    @Html.TextBoxFor(m => m.PostName, new { @class = "form-control", @required = "required" })
                    <div class="invalid-feedback">
                        Lütfen Albümünüz İçin Bir İsim Giriniz.
                    </div>

                    <h4>Şehrinizi Seçiniz&nbsp;</h4>

                    @Html.DropDownListFor(m => m.IlId, Model.Iller, new { @class = "form-control", @required = "required" })
                    <div class="invalid-feedback">
                        Lütfen İl Seçiniz.
                    </div>

                    <h4>İlçenizi Seçiniz&nbsp;</h4>

                    @Html.DropDownListFor(m => m.IlceId, Model.Ilceler, new { @class = "form-control", @required = "required" })
                    <div class="invalid-feedback">
                        Lütfen İlçe Seçiniz.
                    </div>

                    <h4>Açıklamanızı Yazınız&nbsp;</h4>

                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @required = "required" })
                    <div class="invalid-feedback">
                        Lütfen Bir Açıklama Giriniz.
                    </div>

                    <h4>Albümünüz İçin Kapak Fotoğrafı&nbsp;</h4>

                    <input type="file" class="btn btn-outline-success" name="image" required placeholder="Ekleyeceğiniz görseli seçiniz:" accept="image/*">
                    <div class="invalid-feedback">
                        Lütfen Bir Albüm Kapağı Seçiniz.
                    </div>


                    <input type="submit" class="btn btn-lg btn-outline-success" value="Paylaş !" />
                    <a type="submit" href="@Url.RouteUrl("FirstPage")" class="btn btn-lg btn-outline-danger">İptal</a>
                }
                else
                {
                    <h4 class="display-4">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</h4>
                }
            </form>
        </div>
        <div class="col-md-4 mt-5">
            <img class="img-fluid" width="700" src="~/Content/modalphoto.png" alt="Alternate Text" />
        </div>
       
    </div>
   
    
</div>


@*<div class="col-md-4">
     
    </div>*@


@*<script type="text/javascript">

        $(function () {
            // When your form is submitted
            $("form").submit(function (e) {
                // Prevent the default behavior
                e.preventDefault();

                // Serialize your form
                var formData = new FormData($(this)[0]);

                // Make your POST
                $.ajax({
                    type: 'POST',
                    url: 'NewPost',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (view) {
                        alert("success");
                    },
                    complete: function () {
                        alert("complete");
                    }
                });
            });
        })
    </script>*@
